<div [hidden]="!loading" style="margin-top: -5px;">
  <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
</div>

<div class="card-container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card>
      <h1>Login Form</h1>

      <mat-card-content>
        <!-- email -->
        <mat-form-field class="max-width">
          <input matInput type="text" formControlName="username" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && loginForm.controls['username'].errors }" autofocus required>
        </mat-form-field>
        <mat-error *ngIf="submitted && loginForm.controls" class="form-val-hint">
            <div *ngIf="loginForm.controls">Username is required</div>
        </mat-error>

        <div class="h-space"></div>

        <!-- password -->
        <mat-form-field class="max-width">
          <input matInput type="password" formControlName="password" placeholder="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && loginForm.controls }" required>
        </mat-form-field>
        <mat-error *ngIf="submitted && loginForm.controls" class="form-val-hint">
            <div *ngIf="loginForm.controls">Password is required</div>
        </mat-error>

        <div class="h-space"></div>

        <button mat-raised-button type="submit" color="accent" class="max-width" [disabled]="loading">Login</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>